@media screen and (max-width: 320px) {
    #home div.img>div.pic .text{
        top:16px;
    }
    #home div.img>div.pic .text h3{
        font-size: 18px;
    }
    #home div.img>div.pic .text p{
        font-size: 12px;
    }
    .details-explain-ul>li {
        font-size: 14px;
        line-height: 26px;
        color: #444;
    }

    /*
    *design
    */
    .design-inter {
        line-height: 36px;
        font-size: 22px;
        color: #333;
    }
    .price-list>div {
        position: relative;
        color: coral;
        font-size: 18px;
    }
    .price-list i {
        left: 212px;
        font-size: 14px;
        -webkit-transform: scale(0.8);
    }
    .shadow .shadow-num {
        font-size: 28px;
    }
    .shadow .shadow-unit1{
        position: absolute;
        right: 20px;
        top: 25%;
        font-size: 20px;
    }
    .package-name {
        font-size: 14px;
    }
    .shadow .line{
        width: 1px;
        height: 16px;
        border: 1px solid yellow;
        transform: rotate(40deg);
        -o-transform: rotate(40deg);
        -webkit-transform: rotate(80deg);
        -moz-transform: rotate(40deg);
        position: absolute;
        right: 29px;
        top: 43%;
    }
    .shadow .shadow-unit2{
        position: absolute;
        right: 20px;
        top: 52%;
        font-size: 20px;
    }
    .shadow .shadow-unit3{
        right: 13px;
        font-size: 14px;
    }
    .package-name{
        margin-top: 0;
    }
    /*regist*/
    .forecast-main .promise{
        font-size: 14px;
    }

    .design-text-p{
        font-size: 13px;
        line-height: 18px;
    }
    .design-text-h {
        font-size: 16px;
        line-height: 22px;
    }

    /*onlineCal*/
    .onlineCal-ul-img>li{
        font-size: 14px;
    }
    .onlineCalculation .p1{
        font-size: 14px;
        line-height: 24px;
    }
    .onlineCalculation .p2{
        line-height: 14px;
    }
    .onlineCalculation .p3 {
        font-size: 16px;
        line-height: 32px;
    }
    .onlineCalculation .p3 i{
        left:90px;
    }
    .onlineCalculation .p4, .onlineCalculation .p5{
        font-size: 14px;
    }

    .onlineCalculation-ul-l, .onlineCal-ul-img, .onlineCal-ul-img>li, .onlineCalculation-ul-r{
        height: 94px;
    }
    .onlineTab{
        height: 94px;
    }
    .Calculation-mu-topP p{
        font-size: 14px;
        line-height: 20px;
    }

    /*charaDesign*/
    #charaDesign {
        padding: 0% 2% 0 2%;
    }
    .design-page .design-address, .design-page .designtype, .design-page .lookBtn{
        height: 40px;
        line-height: 40px;
    }
}
@media screen and (min-width: 330px) and (max-width: 375px) {

    .design-page{
        margin-top: 10px;
    }
    .shadow .shadow-num{
        font-size: 30px;
    }

    .design-text-h {
        font-size: 20px;
        line-height: 30px;
    }
    .design-text-p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (min-width: 380px) and (max-width: 414px) {

}
@media screen and (min-width: 420px) and (max-width: 768px) {
    #home div.table>div.title>ul>li{
        font-size: 20px;
    }
    #home div.table>div.content a{
        font-size: 18px;
    }
    #home div.img>div.pic .text{
        top:42px;
    }
    #home div.img>div.pic .text h3{
        font-size: 30px;
        margin-bottom: 5px;
    }
    #home div.img>div.pic .text p{
        font-size: 28px;
    }
    #home div.banner .banner-p{
        font-size: 20px;
    }
    .to-top{
        width: 60px;
        height: 60px;
    }
    .to-top .ion-chevron-up{
        font-size: 36px;
    }
    .to-top>p {
        font-size: 16px;
        margin-top: -8px;
    }
    #contact .contact-us {
        font-size: 50px;
        line-height: 60px;
    }
    #contact li {
        line-height: 50px;
        font-size: 30px;
    }
    .details-door-top .details-door-r{
        margin-top: 18px;
    }
    .details-door-r>span{
        font-size: 40px;
    }
    .details-door-r>p{
        margin: 6px 0;
    }
    .details-door-r>i{
        font-size: 24px;
    }
    .choose-door {
        font-size: 22px;
        margin-top: 24px;
    }
    .pad-type {
        font-size: 16px;
        line-height: 24px;
    }
    .details-explain-p {
        font-size: 28px;
    }
    .details-explain-ul>li {
        font-size: 18px;
        line-height: 30px;
    }
    .explain-intro-r p {
        font-size: 18px;
        line-height: 28px;
    }
    .explain-intro-r{
        margin-top: 40px;
    }
    /*design*/
    .design-inter {
        line-height: 56px;
        font-size: 36px;
    }
    .price-list>div {
        font-size: 28px;
    }
    .price-list i {
        left: 459px;
        top: -7px;
        font-size: 24px;
        -webkit-transform: scale(0.8);
    }
    .list-li-top .shadow{
        padding-top: 29%;
    }
    .shadow .shadow-num {
        font-size: 70px;
    }
    .shadow .shadow-unit1 {
        right: 62px;
        font-size: 30px;
        top: 34%
    }
    .shadow .line {
        height: 31px;
        right: 73px;
        top: 43%;
    }
    .shadow .shadow-unit2 {
        right: 61px;
        top: 53%;
        font-size: 30px;
    }
    .shadow .shadow-unit3 {
        right: 50px;
        top: 51%;
        font-size: 25px;
    }
    .package-name {
        font-size: 34px;
        margin-top: 12px;
        line-height: 40px;
    }
    /*regist*/
    .forecast-main>p {
        line-height: 44px;
        font-size: 18px;
    }
    .forecast-main .promise{
        font-size: 24px;
    }

    .design-page{
        margin-top: 10px;
    }
    .design-text {
        padding: 5px 14px 8px 14px;
    }
    .design-text-p {
        font-size: 28px;
        line-height: 40px;
    }
    .design-page .design-inter{
        line-height: 64px;
        font-size: 42px;
    }
    .design-page .design-brand {
        color: #007aff;
        font-size: 52px;
        line-height: 58px;
    }
    .design-page .design-material {
        color: #e6b500;
        font-size: 23px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .design-page .design-address, .design-page .designtype, .design-page .lookBtn {
        width: 92%;
        height: 64px;
        /* margin-left: 4%; */
        border-radius: 5px;
        border: 1px solid #007aff;
        line-height: 54px;
        padding-left: 10px;
        font-size: 26px;
        color: #007aff;
        margin-bottom: 16px;
    }
    .design-text-h{
        font-size: 30px;
        line-height: 40px;
    }
    .design-text-p {
        font-size: 28px;
        line-height: 36px;
    }
    .design-list .design-list-li{
        margin-left: 24px;
    }

    /**个性搭配*/
    .onlineCalculation-ul-l, .onlineCal-ul-img, .onlineCal-ul-img>li, .onlineCalculation-ul-r{
        height: 200px;
    }
    .onlineTab{
        height: 200px;
    }
    .disable_btn i, .onlineCalculation-ul-l i, .onlineCalculation-ul-r i{
        font-size: 50px;
    }
    .onlineCalculation-ul-l {
        padding-top: 80px;
        padding-left: 13px;
    }
    .onlineCalculation-ul-r {
        padding-top: 80px;
        padding-left: 17px;
    }
    .onlineCal-ul-img>li{
        font-size: 22px;
    }
    .Calculation-mu .p1, .Calculation-di .p1, .Calculation-chu .p1, .Calculation-wei .p1, .Calculation-diao .p1, .Calculation-mu-top>p{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    .Calculation-mu-topP p {
        font-size: 24px;
        line-height: 32px;
    }
    .Calculation-mu-topP span {
        font-size: 20px;
        line-height: 28px;
        color: #666;
    }
    .Calculation-mu-topP .danwei {
        font-size: 20px;
        line-height: 26px;
        color: #666;
    }
    .onlineCalculation-cal{
        height: 50px;
    }
    .onlineCalculation-cal .p6 {
        font-size: 24px;
        line-height: 50px;
    }
    .onlineCalculation-btn {
        width: 130px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }
    .Calculation-ci-ul li {
        line-height: 50px;
        font-size: 20px;
    }
    .onlineCalculation .p1{
        font-size: 22px;
    }
    .onlineCalculation .p2 {
        font-size: 16px;
        line-height: 22px;
    }
    .onlineCalculation .p3 {
        font-size: 20px;
        line-height: 38px;
    }
    .onlineCalculation .p3 i {
        left: 113px;
        top: -3px;
        font-size: 14px;
    }
    .onlineCalculation .p4 {
        font-size: 18px;
        line-height: 26px;
    }
    .onlineCalculation .p5 {
        font-size: 18px;
        margin-top: 2px;
        line-height: 26px;
    }
}