<ion-view view-title="实惠套餐" id="design">
    <!--<div class="design-page">-->
        <!--<p class="design-inter">互联网授信家装</p>-->
        <!--<h2 class="design-brand">品牌主材自由配</h2>-->
        <!--<p class="design-material">整体家装=六大主材+综合服务套餐包</p>-->
        <!--<input type="text" placeholder="地址" class="design-address">-->
        <!--<select class="designtype">-->
            <!--<option value="选择小区">选择小区</option>-->
        <!--</select>-->
        <!--<select class="designtype">-->
            <!--<option value="选择户型">选择户型</option>-->
        <!--</select>-->
        <!--<select class="designtype">-->
            <!--<option value="选择装修方案">选择装修方案</option>-->
        <!--</select>-->
        <!--<input type="button" value="查看预算" class="lookBtn">-->
    <!--</div>-->
    <div class="design-list">
        <p class="design-inter">互联网授信家装</p>
        <div class="price-list">
            <div>
                699-1299元/m
                <i>2</i>
            </div>
        </div>
        <ul ng-init="designInitData()" class="clearfloat">
            <li class="design-list-li" ng-repeat="data in desginData">
                <a href="{{data.href}}">
                    <div class="list-li-top">
                        <img ng-src="{{data.src}}">
                        <!--<div class="shadow">-->
                            <!--<p class="shadow-num" ng-bind="data.num"></p>-->
                            <!--<span class="shadow-unit1">元</span>-->
                            <!--<span class="line"></span>-->
                            <!--<span class="shadow-unit2">m</span>-->
                            <!--<span class="shadow-unit3">2</span>-->
                        <!--</div>-->
                    </div>
                </a>
                <p ng-bind="data.title" class="package-name"></p>
            </li>
        </ul>

		<div class="design-text">
			<h2 class="design-text-h">实惠套餐，轻松装修</h2>
			<p class="design-text-p">购选实惠装修套餐, <span>使您完全掌握装修开销与进度信息</span>, 轻松装修轻松生活！</p>
		</div>
    </div>
	
</ion-view>