<ion-view view-title="个性设计" id="charaDesign">
    <div class="design-page">
        <p class="design-inter">互联网授信家装</p>
        <h2 class="design-brand">品牌主材自由配</h2>
        <p class="design-material">整体家装=六大主材+综合服务套餐包</p>
        <input type="text" placeholder="地址" class="design-address">
        <select class="designtype">
        <option value="选择小区">选择小区</option>
        </select>
        <select class="designtype">
        <option value="选择户型">选择户型</option>
        </select>
        <select class="designtype">
        <option value="选择装修方案">选择装修方案</option>
        </select>
        <input type="button" value="查看预算" class="lookBtn">
    </div>
</ion-view>