<ion-view view-title="个性设计" id="charaDesign">
    <div class="design-page">
        <div style="width: 100%;padding: 4%;">
            <img src="images/charaDesign/charaDesign.PNG" style="width: 100%">
        </div>
        <!--<p class="design-inter">互联网授信家装</p>-->
        <!--<h2 class="design-brand">品牌主材自由配</h2>-->
        <!--<p class="design-material">整体家装=六大主材+综合服务套餐包</p>-->
        <input type="text" placeholder="地址" class="design-address">
        <!--<select class="designtype">-->
        <!--<option value="选择小区">选择小区</option>-->
        <!--</select>-->
        <input type="text" placeholder="选择小区" class="designtype type-margin-left">
        <select class="designtype">
        <option value="选择户型">选择户型</option>
        </select>
        <select class="designtype">
        <option value="选择装修方案">选择装修方案</option>
        </select>
        <input type="button" value="查看预算" class="lookBtn">

        <div class="design-text">
            <h2 class="design-text-h">实惠套餐，轻松装修</h2>
            <p class="design-text-p">购选实惠装修套餐, <span>使您完全掌握装修开销与进度信息</span>, 轻松装修轻松生活！</p>
        </div>
    </div>
</ion-view>