<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>免费报价</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<link href="../../css/style.css" rel="stylesheet" type="text/css">
<link href="../../css/mediaScreen.css" rel="stylesheet" type="text/css">
<link href="../../css/provincesSelect.css" rel="stylesheet" type="text/css">
<link href="../../css/regist.css" rel="stylesheet" type="text/css">
<script src="../../js/jquery-1.10.1.min.js"></script>
<script src="provincesSelect.js"></script>
</head>

<body style="overflow-y: scroll;">
<div>
	<img style="width: 100%;" alt="" src="../../images/A_现代艺术风/3.jpg"/>
</div>
<div class="whan-ad whan-ad-ask whan-ad-h70">
	<div id="fabiaoqu-ask" class="fabiaoqu-ask">
		<p style="margin-top: 15px;margin-left: 17px;font-size: 12px;color: #e54a4a;">已经有超万位业主使用了装修免费报价服务</p>
		<form id="froms" class="zxd-form">
			<div class="download-arrow1">
				<input type="hidden" name="ptag" value="2_1_1_2"> 
				<input type="text" id="slide_area" placeholder="所在城市" style="color: rgb(0, 0, 0);" readonly="readonly">
			</div>
			<div class="touch-input2">
				<input type="text" name="oxiaoqu" id="xiaoquInput" placeholder="小区名称">
			</div>
			<div class="touch-input2">
				<input type="number" name="oarea" id="areaInput" placeholder="房屋面积"><label for="areaInput">m²</label>
			</div>
			<div class="jiting clearfix" id="jiting">
				<label> <select name="" id="secshi" class="needsclick"><option
							value="1">1&nbsp;室</option>
						<option value="2">2&nbsp;室</option>
						<option value="3">3&nbsp;室</option>
						<option value="4">4&nbsp;室</option>
						<option value="5">5&nbsp;室</option>
						<option value="6">6&nbsp;室</option></select>
				</label> <label> <select name="" id="secting" class="needsclick"><option
							value="1">1&nbsp;厅</option>
						<option value="2">2&nbsp;厅</option>
						<option value="3">3&nbsp;厅</option>
						<option value="4">4&nbsp;厅</option>
						<option value="5">5&nbsp;厅</option>
						<option value="6">6&nbsp;厅</option></select>
				</label> <label> <select name="" id="secchu" class="needsclick"><option
							value="1">1&nbsp;卫</option>
						<option value="2">2&nbsp;卫</option>
						<option value="3">3&nbsp;卫</option>
						<option value="4">4&nbsp;卫</option>
						<option value="5">5&nbsp;卫</option>
						<option value="6">6&nbsp;卫</option></select>
				</label> <label style="float: right;"> <select name=""
					id="secyangtai" class="needsclick"><option value="1">1&nbsp;阳台</option>
						<option value="2">2&nbsp;阳台</option>
						<option value="3">3&nbsp;阳台</option>
						<option value="4">4&nbsp;阳台</option>
						<option value="5">5&nbsp;阳台</option>
						<option value="6">6&nbsp;阳台</option></select>
				</label>
			</div>
			<div style="margin: 10px 0 0 0;">
				<input type="tel" id="tPhone" style="display:none" name="tphone" value="18682009177" >
				<input type="tel" id="newPhone" name="phone"
					placeholder="请输入真实号码，专业装修人员与您及时沟通">
			</div>
			<div class="touch-input2" id="pricediv" style="display:none">
				<input type="text" readonly="true" name="price" id="priceInput">
			</div>
			<input id="ask-form-submit" class="ptag-set" type="button" value="免费报价">
		</form>
	</div>
	<div class="shade-click" style="width: 320px;"></div>
</div>
<script type="text/javascript">
	$(function() {
		ProvincesSelect.initialize({
			targetDom : '#slide_area',
			callback : function() {
				var bothName = $('#slide_area').val().split(' ');
				var cityName = '';
				if (bothName) {
					cityName = bothName[1];
				}
				;
				cityMemory = cityName;
			}
		});
		
		$('#ask-form-submit').click(function() {
			var city = $('#slide_area').val();
			var area = $('#areaInput').val();
			var phone = $('#newPhone').val();
			var xiaoqu = $('#xiaoquInput').val();
			var tphone = $('#tPhone').val();
			
			
			if(city == ''){
				alert('请选择所在城市');
				return;
			}
			
			if(area == ''){
				alert('请输入房屋面积');
				return;
			}
			
			if(xiaoquInput == ''){
				alert('请输入小区名称');
				return;
			}
			
			if(phone == '' || phone.length != 11){
				alert('请输入有效的手机号码');
				return;
			}
			
			$('#priceInput').val('装修费用大概：' + area * 850 + '元');
			$('#pricediv').css('display','');

			$.ajax({
				url : '/wechat/regist',
				data : {
					'city' : city,
					'area' : area,
					'phone' : phone,
					'tphone' : tphone,
					'xiaoqu' : xiaoqu,
					'shi' : $('#secshi').val(),
					'ting' : $('#secting').val(),
					'wei' : $('#secchu').val(),
					'yangtai' : $('#secyangtai').val(),
				},
				type : 'post',
				cache : false,
				dataType : 'text',
				success : function(data) {
					$('#slide_area').val('');
					$('#areaInput').val('');
					$('#newPhone').val('');
					$('#xiaoquInput').val('');
				},
				error : function(data) {
					alert('亲，服务器繁忙，请稍后再试！')
				}
			});
		});
	});
</script>
</body>
</html>