<ion-view view-title="预估报价" id="regist">
    <!--计算房价-->
    <div class="forecast">
        <div class="forecast-top">
            <img src="images/tab1.jpg">
        </div>
        <div class="forecast-main clearfloat">
            <p>已经有<span>161453</span>位业主使用了装修免费报价服务</p>
            <div class="address-choose">
                <input class="address-choose-p" placeholder="请选择您所在的城市">
                <i class="icon ion-chevron-righ icon-city"></i>
            </div>
            <div class="clearfloat">
                <div class="community">
                    <input type="text" placeholder="小区">
                </div>
                <div class="community-area">
                    <input type="number" placeholder="面积" class="area" max="9" ng-keyup="checkInput(ctrlScope.myMessage)" ng-model="ctrlScope.myMessage">
                    <span>m</span>
                    <i>2</i>
                </div>
            </div>
            <select class="community-select1">
                <option value="1">1室</option>
                <option value="2">2室</option>
                <option value="3">3室</option>
                <option value="4">4室</option>
                <option value="5">5室</option>
                <option value="6">6室</option>
            </select>
            <select class="community-select2">
                <option value="1">1厅</option>
                <option value="2">2厅</option>
                <option value="3">3厅</option>
                <option value="4">4厅</option>
                <option value="5">5厅</option>
                <option value="6">6厅</option>
            </select>
            <select class="community-select1">
                <option value="1">1卫</option>
                <option value="2">2卫</option>
                <option value="3">3卫</option>
                <option value="4">4卫</option>
                <option value="5">5卫</option>
                <option value="6">6卫</option>
            </select>
            <select class="community-select2">
                <option value="1">新房装修</option>
                <option value="2">旧房装修</option>
            </select>
            <input type="text" class="tel-num" placeholder="请输入真实号码，报价结果将发送到您的手机" maxlength="11">
            <input type="button" class="communityBtn" value="免费报价">
            <div style="width: 100%;">
                <p class="promise">我们承诺：该项服务为免费服务，无任何费用。并且您的隐私将被严格保密，不被打扰泄露。</p>
            </div>
        </div>
    </div>
</ion-view>