<ion-view view-title="实惠套餐" id="details">
    <ion-content delegate-handle="myscroll" onscroll="testScroll()">
        <div class="details-img">
            <img src="images/average/1.jpg" ng-if="detailTopSrc[0]">
            <img src="images/average/2.jpg" ng-if="detailTopSrc[1]">
            <img src="images/average/3.jpg" ng-if="detailTopSrc[2]">
            <img src="images/average/4.jpg" ng-if="detailTopSrc[3]">
        </div>
		<div class="design-text" style="margin-bottom: 10%;">
			<h2 class="design-text-h">实惠套餐，轻松装修</h2>
			<p class="design-text-p">实惠套餐以装修时实况为准，请点击联系我们添加专业人员微信进行实时咨询，提前预定装修可获得丰厚折扣哦！<a href="/wechat/html/views/connectUs/connect.html">点击链接^_^</a></p>
		</div>
        <div ng-init="detailsInitData()">
            <div class="details-door" ng-repeat="data in detailsData">
                <div class="details-door-top clearfloat">
                    <div class="details-door-l">
                        <img ng-src="{{data.muSrc}}">
                    </div>
                    <div class="details-door-r" ng-if="data.muSrc!=''">
                        <span ng-bind="data.muName"></span>
                        <p class="line"></p>
                        <i ng-bind="data.muDes"></i>
                    </div>
                </div>
                <div class="chooseMess clearfloat">
                    <div class="chooseMess-li" ng-repeat="datalist in data.muList">
                        <p class="chooseMess-li-p" ng-bind="datalist.muChoose"></p>
                        <div class="chooseMess-li-mess">
                            <img ng-src="{{datalist.src}}">
                            <ul>
                                <li class="pad-type" ng-bind="datalist.title"></li>
                                <li class="pad-type" ng-bind="datalist.type"></li>
                                <li class="pad-type" ng-bind="datalist.standard"></li>
                                <li class="pad-type" ng-bind="datalist.describe"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="details-explain">
            <p class="details-explain-p">套餐说明</p>
            <ul class="details-explain-ul">
                <li>•　899轻奢、1299豪华套餐包含全房硬装家具，吊顶设计。</li>
                <li>•　套餐中所有实物若客户不满意，可与专业装修人员协商，在双方同意的情况下做出更换。</li>
                <li>•　所有以上装修套餐内容仅做大体参考，装修时以实际情况为准。</li>
            </ul>
        </div>
    </ion-content>
</ion-view>